USE [master]
GO
/****** Object:  Database [StoreDb]    Script Date: 3/14/2017 12:26:50 AM ******/
CREATE DATABASE [StoreDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StoreDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\StoreDb.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StoreDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\StoreDb_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StoreDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StoreDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/14/2017 12:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/14/2017 12:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DateCreated] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Gadgets]    Script Date: 3/14/2017 12:26:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gadgets](
	[GadgetID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](8, 2) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Gadgets] PRIMARY KEY CLUSTERED 
(
	[GadgetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [Name], [DateCreated], [DateUpdated]) VALUES (1, N'Tablets', CAST(N'2017-03-01 23:24:26.707' AS DateTime), NULL)
INSERT [dbo].[Categories] ([CategoryID], [Name], [DateCreated], [DateUpdated]) VALUES (2, N'Laptops', CAST(N'2017-03-01 23:24:26.707' AS DateTime), NULL)
INSERT [dbo].[Categories] ([CategoryID], [Name], [DateCreated], [DateUpdated]) VALUES (3, N'Mobiles', CAST(N'2017-03-01 23:24:26.707' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Gadgets] ON 

INSERT [dbo].[Gadgets] ([GadgetID], [Name], [Description], [Price], [Image], [CategoryID]) VALUES (1, N'ProntoTec 7', N'Android 4.4 KitKat Tablet PC, Cortex A8 1.2 GHz Dual Core Processor,512MB / 4GB,Dual Camera,G-Sensor (Black)', CAST(46.99 AS Decimal(8, 2)), N'prontotec.jpg', 1)
INSERT [dbo].[Gadgets] ([GadgetID], [Name], [Description], [Price], [Image], [CategoryID]) VALUES (2, N'Samsung Galaxy', N'Android 4.4 Kit Kat OS, 1.2 GHz quad-core processor', CAST(120.95 AS Decimal(8, 2)), N'samsung-galaxy.jpg', 1)
INSERT [dbo].[Gadgets] ([GadgetID], [Name], [Description], [Price], [Image], [CategoryID]) VALUES (3, N'NeuTab® N7 Pro 7', N'NeuTab N7 Pro tablet features the amazing powerful, Quad Core processor performs approximately Double multitasking running speed, and is more reliable than ever', CAST(59.99 AS Decimal(8, 2)), N'neutab.jpg', 1)
SET IDENTITY_INSERT [dbo].[Gadgets] OFF
/****** Object:  Index [IX_CategoryID]    Script Date: 3/14/2017 12:26:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Gadgets]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Gadgets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Gadgets_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Gadgets] CHECK CONSTRAINT [FK_dbo.Gadgets_dbo.Categories_CategoryID]
GO
USE [master]
GO
